@import "tailwindcss";

@theme {
  --color-primary: #27348b;
  --color-on-primary: white;
  --color-secondary: #e2b600;
  --color-on-secondary: var(--color-primary);

  --color-background: var(--color-neutral-50);
  --color-foreground: white;
  --color-on-anyground: black;
}

/* layout-related configuration */
@theme {
  --z-header: 10;
  --z-sidebar: 5;
  --z-popup: 15;

  --h-header: calc(var(--spacing) * 16);
  --w-sidebar: calc(var(--spacing) * 60);
  --h-sidebar: calc(100vh - var(--h-header));
}

@utility cotain-strict {
  contain: strict;
}

@custom-variant hoctive {
  &:hover,
  &:focus-visible,
  &:active {
    @slot;
  }
}
